*{
    margin:auto
}
body{
    background-color: black;
}
.mother{
    background-color: blueviolet;
    height: 400px;
    width: 250px;
    padding: 50px;
}
.logo{
    padding-left:  70px;

}
.photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: white 10px solid;
    box-shadow: 8px 10px 10px green;
}
#slogan{
    padding-bottom: 10px;
}
.company{
    color: brown;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
